body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

audio {
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

#lightbox img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}
